@import url('https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap');

$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);
$color-darkGray: hsl(0, 0%, 55%);
$color-veryDarkGray: hsl(0, 0%, 41%);

$primary-font-family: 'Josefin Sans', sans-serif;
$secundary-font-family: 'Alata', sans-serif;

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
   scroll-behavior: auto;
  }
  
  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}


html {
    font-family: $primary-font-family;
}

body {
    width: 100%;
    height: 100%;
}

section {
    padding-inline: 5%;
}

section:not(:first-child) {
    margin-top: 6em;
}

.header {
    height: 100vh;
    background-image: url("/images/mobile/image-hero.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

span {
    display: block;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.nav-container {
    padding-top: 1em;
    display: flex;
    justify-content: space-between;
    align-content: flex-start;

    .logo {
        background-image: url("/images/logo.svg");
        width: 8em;
        height: 2em;
        z-index: 10;
    }

    .nav-bar {
        text-transform: uppercase;
        list-style: none;
        width: 200vw;
        height: 100vh;

        position: fixed;
        top: -1em;
        left: -1em;
        background-color: $color-black;

        display: flex;
        flex-flow: column;
        justify-content: center;
        gap: 1em;
        
        font-size: 1.5em;

        transition: all 200ms linear;
        transform: translateX(100%);
    }

    .nav-bar[data-visible="true"] {
        transform: translateX(0%);
    }

    .nav-bar li a {
        text-decoration: none;
        color: $color-white;

        transition: all 200ms linear;
    }
    
    .nav-bar li a:hover {
        border-bottom: 1.5px solid $color-white;
        padding-bottom: 0.25em;
    }

    .nav-menu {
        background-image: url("/images/icon-hamburger.svg");
        height: 2em;
        aspect-ratio: 1;
        z-index: 10;
        position: absolute;
        right: 1em;

        cursor: pointer;
        transition: all 200ms ease-in-out;

    }
}

.hero-container {
    display: grid;
    place-content: center;
    height: 100vh;
}

.hero-text {
    width: 90vw;

    border: 2px solid $color-white;
    color: $color-white;
    padding: 1em;
    line-height: 1.5em;

    text-transform: uppercase;
    font-size: 1.5em;
}

.interactive-vr {
    display: grid;
    justify-items: center;
    text-align: center;

    img {
        padding-bottom: 2em;
    }


    .text-container {
        width: 90%;
        h3 {
            padding-bottom: 0.25em;
            text-transform: uppercase;
            font-size: 1.75em;
        }

        p {
            font-family: $secundary-font-family;
            color: $color-darkGray;
        }
    }
}

.creations {
    display: grid;
    justify-items: center;

    .top-container {
        padding-bottom: 1em;

        h3 {
            font-size: 1.5em;
            text-transform: uppercase;
        }

        .see-all {
            display: none;
        }
    }

    .grid-container {
        display: grid;
        gap: 1em;

        div{
            position: relative;
            p {
                position: absolute;
                text-transform: uppercase;
                color: $color-white;
                word-break: break-all;
                bottom: 1em;
                left: 1em;
                font-size: 1.5em;
                line-height: 1em;

                transition: all 150ms linear;

            }

            img {
                transition: all 150ms linear;
            }

        }       


        div:hover {
            img {
                opacity: 0.5;
            }

            p {
                color: $color-black;
            }
        }
    }

    .see-all {
        margin-top: 2em;
    }
}

.see-all {
    padding: 0.25em 2em;
    text-transform: uppercase;
    font-weight: bold;
    background-color: $color-white;
    border: 1.5px solid $color-black;
    letter-spacing: 0.1em;

    transition: all 200ms ease-in-out;
}

.see-all:hover {
    background-color: $color-black;
    color: $color-white;
}

.footer {
    background-color: $color-black;
    color: $color-white;

    padding-block: 1em;
    display: flex;
    flex-flow: column;
    align-items: center;

    .logo {
        padding-top: 3em;
    }

    .nav-bar.footer {

        width: 100%;
        height: 100%;
        list-style: none;

        display: grid;
        place-content: center;
        text-align: center;
        padding-left: 0em;
        gap: 0.5em;

        li a {
            text-decoration: none;
            color: inherit;
            font-weight: bold;
            transition: all 200ms linear;
        }
        
        li a:hover {
            border-bottom: 1.5px solid $color-white;
            padding-bottom: 0.25em;
        }

    }

    .socials {
        width: 40%;
        display: flex;
        justify-content: space-between;

        span {
            aspect-ratio: 1;
            width: 1.5em;
            background-size: cover;
            background-repeat: no-repeat;
            cursor: pointer;
        }

        .facebook {
            content: url("/images/icon-facebook.svg");
        }

        .twitter {
            content: url("/images/icon-twitter.svg");
        }

        .pinterest {
            content: url("/images/icon-pinterest.svg");
        }

        .instagram {
            content: url("/images/icon-instagram.svg");
        }
    }

    p {
        padding-top: 2em;
        padding-bottom: 3em;
        color: $color-darkGray;
        font-weight: bold;
    }
}