@import url("https://fonts.googleapis.com/css2?family=Alata&family=Josefin+Sans:wght@300&display=swap");
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  -webkit-text-decoration-skip: ink;
          text-decoration-skip-ink: auto;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }
  *,
*::before,
*::after {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}
html {
  font-family: "Josefin Sans", sans-serif;
}

body {
  width: 100%;
  height: 100%;
}

section {
  padding-inline: 5%;
}

section:not(:first-child) {
  margin-top: 6em;
}

.header {
  height: 100vh;
  background-image: url("/images/mobile/image-hero.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

span {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.nav-container {
  padding-top: 1em;
  display: flex;
  justify-content: space-between;
  align-content: flex-start;
}
.nav-container .logo {
  background-image: url("/images/logo.svg");
  width: 8em;
  height: 2em;
  z-index: 10;
}
.nav-container .nav-bar {
  text-transform: uppercase;
  list-style: none;
  width: 200vw;
  height: 100vh;
  position: fixed;
  top: -1em;
  left: -1em;
  background-color: hsl(0deg, 0%, 0%);
  display: flex;
  flex-flow: column;
  justify-content: center;
  gap: 1em;
  font-size: 1.5em;
  transition: all 200ms linear;
  transform: translateX(100%);
  z-index: 5;
}
.nav-container .nav-bar[data-visible=true] {
  transform: translateX(0%);
}
.nav-container .nav-bar li a {
  text-decoration: none;
  color: hsl(0deg, 0%, 100%);
  transition: all 200ms linear;
  padding-left: 0.5em;
}
.nav-container .nav-bar li a:hover {
  border-bottom: 1.5px solid hsl(0deg, 0%, 100%);
  padding-bottom: 0.25em;
}
.nav-container .nav-menu {
  background-image: url("/images/icon-hamburger.svg");
  height: 2em;
  aspect-ratio: 1;
  z-index: 10;
  position: absolute;
  right: 1em;
  cursor: pointer;
  transition: all 200ms ease-in-out;
}

.hero-container {
  display: grid;
  place-content: center;
  height: 100%;
}

.hero-text {
  width: 90vw;
  border: 2px solid hsl(0deg, 0%, 100%);
  color: hsl(0deg, 0%, 100%);
  padding: 1em;
  line-height: 1.5em;
  text-transform: uppercase;
  font-size: 1.5em;
}

.interactive-vr {
  display: grid;
  justify-items: center;
  text-align: center;
}
.interactive-vr img {
  padding-bottom: 2em;
}
.interactive-vr .text-container {
  width: 90%;
}
.interactive-vr .text-container h3 {
  position: relative;
  padding-bottom: 0.25em;
  text-transform: uppercase;
  font-size: 1.75em;
}
.interactive-vr .text-container p {
  font-family: "Alata", sans-serif;
  color: hsl(0deg, 0%, 55%);
}

.creations {
  display: grid;
  justify-items: center;
}
.creations .top-container {
  padding-bottom: 1em;
}
.creations .top-container h3 {
  font-size: 1.5em;
  text-transform: uppercase;
}
.creations .top-container .see-all {
  display: none;
}
.creations .grid-container {
  display: grid;
  gap: 1em;
}
.creations .grid-container div {
  position: relative;
}
.creations .grid-container div p {
  position: absolute;
  text-transform: uppercase;
  color: hsl(0deg, 0%, 100%);
  word-break: break-all;
  bottom: 1em;
  left: 1em;
  font-size: 1.5em;
  line-height: 1em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  transition: all 150ms linear;
}
.creations .grid-container div img {
  transition: all 150ms linear;
}
.creations .grid-container div:hover img {
  opacity: 0.5;
}
.creations .grid-container div:hover p {
  color: hsl(0deg, 0%, 0%);
}
.creations .see-all.bottom {
  margin-top: 2em;
}

.see-all {
  padding: 0.25em 2em;
  text-transform: uppercase;
  font-weight: bold;
  background-color: hsl(0deg, 0%, 100%);
  border: 1.5px solid hsl(0deg, 0%, 0%);
  letter-spacing: 0.1em;
  transition: all 200ms ease-in-out;
}

.see-all:hover {
  background-color: hsl(0deg, 0%, 0%);
  color: hsl(0deg, 0%, 100%);
}

.footer {
  background-color: hsl(0deg, 0%, 0%);
  color: hsl(0deg, 0%, 100%);
  padding-block: 1em;
  display: flex;
  flex-flow: column;
  align-items: center;
}
.footer .logo {
  padding-top: 3em;
}
.footer .nav-bar.footer {
  width: 100%;
  height: 100%;
  list-style: none;
  display: grid;
  place-content: center;
  text-align: center;
  padding-left: 0em;
  gap: 0.5em;
}
.footer .nav-bar.footer li a {
  text-decoration: none;
  color: inherit;
  font-weight: bold;
  transition: all 200ms linear;
}
.footer .nav-bar.footer li a:hover {
  border-bottom: 1.5px solid hsl(0deg, 0%, 100%);
  padding-bottom: 0.25em;
}
.footer .socials {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.footer .socials span {
  aspect-ratio: 1;
  width: 1.5em;
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}
.footer .socials div {
  transition: all 150ms linear;
}
.footer .socials div:hover {
  padding-bottom: 0.5em;
  border-bottom: 1.5px solid hsl(0deg, 0%, 100%);
}
.footer .socials .facebook {
  content: url("/images/icon-facebook.svg");
}
.footer .socials .twitter {
  content: url("/images/icon-twitter.svg");
}
.footer .socials .pinterest {
  content: url("/images/icon-pinterest.svg");
}
.footer .socials .instagram {
  content: url("/images/icon-instagram.svg");
}
.footer p {
  position: relative;
  padding-top: 2em;
  padding-bottom: 3em;
  color: hsl(0deg, 0%, 55%);
  font-weight: bold;
}

@media (min-width: 40em) {
  .header {
    background-size: cover;
    background-image: url("/images/desktop/image-hero.jpg");
    height: 70vh;
  }
  section {
    padding-inline: 10%;
  }
  .nav-container {
    align-items: center;
  }
  .nav-container .nav-bar {
    position: relative;
    transform: translateX(0%);
    background: none;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    font-size: 1em;
    flex-flow: row;
    justify-content: flex-end;
  }
  .nav-container .nav-menu {
    display: none;
  }
  .hero-container {
    place-content: unset;
    align-items: center;
    margin-top: -4.5em;
  }
  .hero-text {
    width: 40vw;
  }
  .interactive-vr {
    position: relative;
    display: block;
  }
  .interactive-vr img {
    position: relative;
    width: 60%;
    background-position: bottom;
  }
  .interactive-vr .text-container {
    width: 40%;
    padding: 2em;
    background-color: hsl(0deg, 0%, 100%);
    position: absolute;
    bottom: 1.5em;
    right: 10%;
  }
  .creations .top-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-bottom: 3em;
  }
  .creations .top-container .see-all {
    display: block;
  }
  .creations .grid-container {
    grid-template-columns: repeat(4, 1fr);
  }
  .creations .grid-container .deep-earth {
    content: url("/images/desktop/image-deep-earth.jpg");
  }
  .creations .grid-container .night-arcade {
    content: url("/images/desktop/image-night-arcade.jpg");
  }
  .creations .grid-container .soccer-team {
    content: url("/images/desktop/image-soccer-team.jpg");
  }
  .creations .grid-container .the-grid {
    content: url("/images/desktop/image-grid.jpg");
  }
  .creations .grid-container .from-above {
    content: url("/images/desktop/image-from-above.jpg");
  }
  .creations .grid-container .pocket-borealis {
    content: url("/images/desktop/image-pocket-borealis.jpg");
  }
  .creations .grid-container .the-curiosity {
    content: url("/images/desktop/image-curiosity.jpg");
  }
  .creations .grid-container .make-it {
    content: url("/images/desktop/image-fisheye.jpg");
  }
  .creations .see-all.bottom {
    display: none;
  }
  .footer {
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: flex-end;
  }
  .footer .left .nav-bar.footer {
    display: flex;
    flex-flow: row;
    gap: 2em;
  }
  .footer .right {
    display: flex;
    flex-direction: column;
    justify-content: right;
    align-items: center;
    margin-bottom: -1em;
  }
}/*# sourceMappingURL=styles.css.map */